@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

@import 'tailwindcss';

html {
  scroll-behavior: smooth;
}

* {
  font-family: 'Outfit', sans-serif;
}

/* Scrollable container with smooth scroll */
.scrollable-container {
  max-height: 200px;
  overflow-x: auto;
  overflow-y: auto;
  scroll-behavior: smooth;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fade-in 1.5s ease-in-out;
}
/* .rotate {
    animation: rotation 2s infinite linear;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
} */
